.stApp { background-color: #f0f2f5; }
div[data-testid="stAppViewContainer"]::before {
    content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 320px;
    background-color: #0a146e; z-index: -1;
}
header { visibility: hidden; }
.main-card { background: white; padding: 2rem; border-radius: 16px; box-shadow: 0 12px 24px rgba(0,0,0,0.1); }
.title-text { color: green; text-align: center; font-size: 2rem; font-weight: 700; margin-bottom: 2rem; }
.big-result { font-size: 2.2rem; font-weight: 700; color: blueviolet; margin-top: 10px; }
div.stButton > button { background-color: lightgrey; color: white; border-radius: 8px; width: 100%; }